<!doctype html>
<html>
   <body>

        <form action = "/" method = "post">
            <p>Enter Features:</p>
            <p><input type="text" name="school" value="{{ state.school }}" /></p>
            <p><input type="text" name="sex" value="{{ state.sex }}" /></p>
            <p><input type="text" name="age" value="{{ state.age }}" /></p>
            <p><input type="text" name="address" value="{{ state.address }}" /></p>
            <p><input type="text" name="famsize" value="{{ state.famsize }}" /></p>
            <p><input type="text" name="Pstatus" value="{{ state.Pstatus }}" /></p>
            <p><input type="text" name="Medu" value="{{ state.Medu }}" /></p>
            <p><input type="text" name="Fedu" value="{{ state.Fedu }}" /></p>
            <p><input type="text" name="traveltime" value="{{ state.traveltime }}" /></p>
            <p><input type="text" name="studytime" value="{{ state.studytime }}" /></p>
            <p><input type="text" name="failures" value="{{ state.failures }}" /></p>
            <p><input type="text" name="schoolsup" value="{{ state.schoolsup }}" /></p>
            <p><input type="text" name="famsup" value="{{ state.famsup }}" /></p>
            <p><input type="text" name="paid" value="{{ state.paid }}" /></p>
            <p><input type="text" name="activities" value="{{ state.activities }}" /></p>
            <p><input type="text" name="higher" value="{{ state.higher }}" /></p>
            <p><input type="text" name="internet" value="{{ state.internet }}" /></p>
            <p><input type="text" name="romantic" value="{{ state.romantic }}" /></p>
            <p><input type="text" name="famrel" value="{{ state.famrel }}" /></p>
            <p><input type="text" name="freetime" value="{{ state.freetime }}" /></p>
            <p><input type="text" name="goout" value="{{ state.goout }}" /></p>
            <p><input type="text" name="Dalc" value="{{ state.Dalc }}" /></p>
            <p><input type="text" name="Walc" value="{{ state.Walc }}" /></p>
            <p><input type="text" name="health" value="{{ state.health }}" /></p>
            <p>Number of absences (0 to 99):</p>
            <p><input type="text" name="absences" value="{{ state.absences }}" /></p>

            <p><input type = "submit" value="submit" /></p>
         </form>
   
      <h1>Result: {{ state.result }}!</h1>
      
   </body>
</html>